# Technical Report- Threads Jessica Allen 10/8

## Methods

For this experiment 20 data points were sampled. The following procedure was used to collect each set of data:

### Oscilloscope Data Collection
Data was collected for the heartbeat LED and the "off" and "on" periods were analyzed using an oscilloscope. The consistency of the duty cycle was analyzed using thoe 20 sampled points.

### Interpreting the data
The data was compiled into one csv files and juxtaposed with the "actual" values.  This comparison was used to generate general statistical outputs for both the duty on and off cycles (mean, std, min, max, etc.). A 95% confidence interval was also generated for both sets. (Note that the duty ON cycle was calculated by subtracting the duty ON cycle from the total period.)

## Results

Loading in .csv files for both logging and oscilloscope data

In [18]:
import numpy as np
import scipy as sp
import matplotlib.pyplot as plt
import pandas as pd
import seaborn as sns

# Load the data

duty_data = pd.read_csv('Threads_Duty_hbeat_cycle_10-5.csv')

# Print the first few rows of the data
duty_data.head(20)

,Duty Cycle OFF Actual (ms),Duty Cycle OFF (ms),Duty Cycle ON Actual (ms),Duty Cycle ON (ms),total period (ms)
0,750,750.12,250,250.08,1000.2
1,750,750.12,250,250.18,1000.3
2,750,750.12,250,250.08,1000.2
3,750,750.04,250,250.06,1000.1
4,750,750.08,250,250.12,1000.2
5,750,750.12,250,250.08,1000.2
6,750,750.16,250,250.04,1000.2
7,750,750.16,250,250.04,1000.2
8,750,750.08,250,250.12,1000.2
9,750,750.16,250,250.14,1000.3
10,750,750.12,250,250.08,1000.2
11,750,750.08,250,250.12,1000.2
12,750,750.12,250,250.08,1000.2
13,750,750.08,250,250.22,1000.3
14,750,750.12,250,250.18,1000.3
15,750,750.08,250,250.22,1000.3
16,750,750.12,250,250.18,1000.3
17,750,750.08,250,250.22,1000.3
18,750,750.12,250,250.18,1000.3
19,750,750.16,250,250.14,1000.3

## Analyzing both ON and OFF cycles

In [19]:
duty_data.groupby('Duty Cycle OFF Actual (ms)')['Duty Cycle OFF (ms)'].describe()

,count,mean,std,min,25%,50%,75%,max
Duty Cycle OFF Actual (ms),,,,,,,,
750,20.0,750.112,0.03334,750.04,750.08,750.12,750.12,750.16

In [20]:
duty_data.groupby('Duty Cycle ON Actual (ms)')['Duty Cycle ON (ms)'].describe()

,count,mean,std,min,25%,50%,75%,max
Duty Cycle ON Actual (ms),,,,,,,,
250,20.0,250.128,0.059965,250.04,250.08,250.12,250.18,250.22

### How to Calculate 95% Confidence Interval for a Mean
Given the variation in the data, confidence intervals were calculated for both the on and off duty cycles.

In [21]:
# calculate the 95% confidence intervals
confidence_interval = duty_data.groupby('Duty Cycle ON Actual (ms)')['Duty Cycle ON (ms)'].apply(
    lambda x: sp.stats.t.interval(0.95, len(x)-1, loc=np.mean(x), scale=sp.stats.sem(x))
)
print(confidence_interval)

Duty Cycle ON Actual (ms)
250    (250.09993556197745, 250.1560644380227)
Name: Duty Cycle ON (ms), dtype: object

In [22]:
# calculate the 95% confidence intervals
confidence_interval = duty_data.groupby('Duty Cycle OFF Actual (ms)')['Duty Cycle OFF (ms)'].apply(
    lambda x: sp.stats.t.interval(0.95, len(x)-1, loc=np.mean(x), scale=sp.stats.sem(x))
)
print(confidence_interval)

Duty Cycle OFF Actual (ms)
750    (750.0963962358201, 750.1276037641801)
Name: Duty Cycle OFF (ms), dtype: object

## Conclusions/Discussion

Oscilloscope data was collected for 20 data points for both the 'on' and 'off' duty cycles associated with the heartbeat. We compared the 'nominal' or 'actual' values associated with these cycles to the data generated by the oscilloscope.

We collected general statistics data in addition to 95% confidence intervals for both the 'on' and 'off' cycles. It can be noted that within each group the standard deviations are quite small, displaying that the data points are consistent. When looking at the averages of both groups, they only differ by about approximately 0.11 milliseconds from the corresponding actual values.  This is also holds true for the 95% confidence interval as the ranges associated with both groups are also small (~.03 millisecond range).

These tests ultimately display that our duty 'on' and 'off' cycles for the heartbeat LED are generally accurate with some small variation.